# Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [26]:
##https://github.com/cabudies/Python-8-September-2018/tree/master/Panda%20Library%20Exercises/1-3.%20Knowing,%20Filtering,%20Grouping%20your%20data/1a.%20Chipotle
# https://bit.ly/2Z8AdwU
data=pd.read_csv("chipotle.csv")

In [3]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [4]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
data.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [7]:
data.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
data.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
data['item_name'].value_counts()  #does not take qty in consideration, only the nos of occurences of the value in a col

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items it was ordered?

In [12]:
data['quantity'][data['item_name']=='Chicken Bowl'].sum()

761

In [ ]:
data['quantity'][data['item_name']=='Chicken Bowl'].sum()

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
data['choice_description'].value_counts()

[Diet Coke]                                                                                                                                                     134
[Coke]                                                                                                                                                          123
[Sprite]                                                                                                                                                         77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                           42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                40
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                                                             36
[Lemonade]                                                                                                                                                       33
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                                                                    33
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                                                                                                        29
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                                                                                                28
[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                                                                    26
[Coca Cola]                                                                                                                                                      26
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Lettuce]]                                                                                                       25
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]                                                                                                                 23
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]                                                                                         22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]                                                                                                                  22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                        21
[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                     21
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                                                                            21
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                             20
[Tomatillo Red Chili Salsa, [Rice, Cheese, Lettuce]]                                                                                                             20
[Nestea]                                                                                                                                                         20
[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                                                                                                 20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                                                         19
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                          19
[Dr. Pepper]                                                                                                                                                     18
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                    17
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese]]                                                                                                         17
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                         17
[Fresh Tomato Salsa, [Cheese, Lettuce]]                                                                                                                          17
                                                                                                                                                               ...
[White Rice, Adobo-Marinated and Grilled Steak, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]                                                     1
[Tomatillo Red Chili Salsa, [Cheese, Rice, Black Beans]]                                                                                                          1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Pinto Beans, Sour Cream, Cheese]]                                                                         1
[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                             1
[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]]                                                                           1
[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream]]                                                                                        1
[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Guacamole, Lettuce]]                                                                                1
[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Fajita Veggies, Lettuce, Rice, Black Beans]]                                                    1
[Tomatillo-Red Chili Salsa (Hot), [Cheese, Lettuce]]                                                                                                              1
[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Pinto Beans, Rice, Fajita Veggies, Cheese, Lettuce]]      1
[Tomatillo Green Chili Salsa, [Cheese, Lettuce, Rice, Pinto Beans]]                                                                                               1
[Roasted Chili Corn Salsa (Medium), [Fajita Veggies, Cheese, Lettuce, Sour Cream, Rice]]                                                                          1
[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                                                          1
[Tomatillo Green Chili Salsa, [Cheese, Lettuce, Pinto Beans, Rice]]                                                                                               1
[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                                           1
[Fresh Tomato Salsa, [Black Beans, Rice, Sour Cream, Cheese, Guacamole, Lettuce]]                                                                                 1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                                  1
[Roasted Chili Corn Salsa, [Rice, Black Beans, Guacamole, Lettuce]]                                                                                               1
[[Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Sour Cream]]                                                   1
[Roasted Chili Corn Salsa, [Rice, Pinto Beans, Sour Cream]]                                                                                                       1
[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole]]                                                                             1
[Fresh Tomato Salsa (Mild), Lettuce]                                                                                                                              1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Cheese, Sour Cream]]                                                         1
[Tomatillo Green Chili Salsa, [Pinto Beans, Black Beans]]                                                                                                         1
[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Black Beans, Sour Cream]]                                                                                          1
[Tomatillo Red Chili Salsa, [Sour Cream, Cheese, Rice]]                                                                                                           1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole]]                                                                                                  1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Cheese, Lettuce]]                                                                                               1
[Fresh Tomato (Mild), [Lettuce, Guacamole, Pinto Beans, Rice, Sour Cream, Cheese]]                                                                                1
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese]]                                                                                 1
Name: choice_description, Length: 1043, dtype: int64

### Step 12. How many items were orderd in total?

In [14]:
data['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [27]:
def price_converter(x):
#     print(x)
    return float(x.strip('$'))

In [16]:
data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [19]:
data['item_price'].head()

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [21]:
data['item_price'].apply(price_converter).head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [23]:
data['item_price'].head()

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [28]:
data['item_price']=data['item_price'].apply(price_converter)

In [30]:
data['item_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [33]:
revenue=data['item_price'].sum()

### Step 15. How many orders were made in the period?

In [35]:
orders=data['order_id'].count()

### Step 16. What is the average revenue amount per order?

In [36]:
revenue/orders

7.464335785374297

### Step 17. How many different items are sold?

In [38]:
len(data['item_name'].unique())

50

In [39]:
data['item_name'].nunique()

50

In [40]:
import numpy as np

In [41]:
a=pd.np.array([1,2,4,5])

In [42]:
a

array([1, 2, 4, 5])